<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Quiz</title>
</head>
<body>

  <form action="/make_search" method="POST">
    <input type="text" name="key_request" placeholder="Search key" required>
    <button type="submit" name="search_button" value="do_search">Go!</button>
  </form>

</body>
</html>
