<!DOCTYPE html>
<html>
<head>
  <title>Calculate | Online Calculator</title>
</head>
<body>

  <h1>Calculate</h1>

  <form action="/calculate" method="POST">
    <input type='number' name="first_number" placeholder="1st number"></input> +
    <input type='number' name="second_number" placeholder="2nd number"></input>
    <button type="submit" name="operation" value="addition">Addition</button>
    <button type="submit" name="operation" value="substraction">Substraction</button>
  <form>

</body>
</html>
